{% load static %}
<div id="carouselExampleIndicators" class="carousel slide d-none d-md-block" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active ">
            <div class="overlay">

            </div>

            <img src="{% static 'images/bgmahle.jpg' %}" class="d-block w-100 inner" alt="..."
                 style="z-index:999;">
            <div class="carousel-caption d-none d-md-block" style="text-align:left; font-weight:800; border-radius:20px; max-width:600px;
">
                <div class="d-flex justify-content-start flex-column caption-holder">
                    <div class="d-flex flex-column me-4 ms-4">
                        <p class="small-title">Производи со висок перформанс и</p>
                        <p class="big-title">Сертифициран квалитет</p>
                    </div>

                </div>

            </div>

        </div>
        <div class="carousel-item ">
            <div class="overlay" style="opacity:0.3;">

            </div>

            <img src="{% static 'images/secondslide.png' %}" class="d-block w-100 inner" alt="..."
                 style="z-index:999;">
            <div class="carousel-caption d-none d-md-block" style="text-align:left; font-weight:800; border-radius:20px; max-width:600px;
">
                <div class="d-flex justify-content-start flex-column caption-holder-2">
                    <div class="d-flex flex-column me-4 ms-4">
                        <p class="small-title">Производи со висок перформанс и</p>
                        <p class="big-title">Сертифициран квалитет</p>
                    </div>

                </div>

            </div>

        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev" style="z-index:1000;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                style="z-index:1000;"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- end -->
    <div id="carouselExampleCaptions" class="carousel slide d-block d-sm-none" data-bs-ride="false"
         style="height:600px;">


        <div class="carousel-inner">
            <div class="carousel-item active d-flex justify-content-center align-items-center" style="height:600px;">

                <div class="text m-0 p-0" style="position:absolute; min-width:320px; width:auto;">
                    <div class="d-flex flex-column  caption-holder-m">
                        <p class="small-title" style="font-size:15px; margin-left:12px;">Производи со висок перформанс и</p>
                        <p class="big-title" style="font-size:22px; margin-left:12px;">Сертифициран квалитет</p>
                    </div>
                </div>
                <img src="{% static 'images/mobile-bg.png' %}" class="d-block w-100 h-100" alt="..." style="opacity:1.5;">
            </div>

        </div>

    </div>



