<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакт</title>
    {% include 'head.html' %}
</head>
<body>
{% include 'menu.html' %}
<div class="container d-flex justify-content-center align-items-center flex-column" style="margin-top:25px;">
    <div style="text-align:center; max-width:185px" class=" title-all">Контакт</div>

</div>
<div class="container">
    <div class="smalldivider"></div>

    <div class="row p-4" style="margin-top:20px; min-height:500px; max-height:550px;">

        <div class="d-flex flex-column col-sm-12 col-md-6  ">

            <div class="d-flex flex-column shadow  p-4" style="border:1px solid #31313138; border-radius:8px;">
                <span style="font-weight:500;">
                    За повеќе информации, врзани со нашата понуда и начините на финансирање, Ве молиме контактирајте не на долу наведениот телефонски број или маил адреса.

                </span>
                <div class="mt-3" style="font-weight:500;">
                    Ние сме тука за Вас, секој работен ден од понеделник до петок од 08:00 до 16:00 часот.

                </div>

                <div class="mt-3    ">
                    <span style="font-weight:500;" class="d-flex align-items-center border shadow-sm ">
                    <i class="bi bi-phone"></i>+389 71 257 778
                </span>
                    <span style="font-weight:500;" class="d-flex align-items-center border shadow-sm ">
                    <i class="bi bi-building"></i>Христо Татарчев 1 бр.107, Скопје 1000
                </span>
                <span style="font-weight:500;" class="d-flex align-items-center border shadow-sm ">
                    <i class="bi bi-envelope-paper"></i>info@panatek.mk
                </span>
                </div>

            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-6  justify-content-center" style="max-height:450px;">
            <div class="d-flex flex-column shadow" style="width:90%; max-height:350px;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11173.953982350235!2d21.439997430438268!3d41.969456194990386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135415b656326c91%3A0x8f5cb55dd3496cb2!2sPANATEK!5e0!3m2!1sen!2smk!4v1657853755585!5m2!1sen!2smk"
                    style="border:0; width:100%; height:100%;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>
    </div>
</div>
{% include 'footer.html' %}

</body>
</html>