<div id="paleta" class="row pt-4">
    <h1 style="text-align:center; margin:0; padding:0;">
        <span class="title-all">Палета на производи</span></h1>

    <div class="smalldivider" style="margin-top:20px; margin-bottom:30px;"></div>

        <div class="col-12 col-lg-6 d-flex flex-column m-0 p-3">
            <div class="about-box-p shadow p-3 d-flex justify-content-center flex-column">
                <ul class="list-group">
                    <li class="list-group-item">Сите типови на авто дигалки</li>
                    <li class="list-group-item">Уреди за подесување на геометрија</li>
                    <li class="list-group-item">Опрема за промена и балансирање на пневматици за моторцикли, патнички и
                        теретни возила
                    </li>
                    <li class="list-group-item">Клима станици за сервисирање и дополнување на разладните системи во
                        возилата
                    </li>
                    <li class="list-group-item">Дијагностичики уреди за патнички возила</li>
                    <li class="list-group-item">Уреди за тестирање и подесување на светлата на возилата</li>
                    <li class="list-group-item">Уреди и опрема за дистрибуција на течности</li>

                </ul>

                <div style="display: flex; justify-content: right; margin-top:5px;">
                    <a href="{% url 'brands' %}"><button class="btn btn-sm btn-dark learn-more p-btn">
                    <span class="button-text d-flex align-items-center" style="font-weight:600; margin:0;">
                        <i class="bi bi bi-arrow-right"
                           style="color:white; font-size:18px; margin:0; margin-right:10px;"></i>
                        <span>Каталог</span>
                    </span>
                    </button></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 d-flex flex-column m-0 p-3">
            <div class="about-box-p shadow p-3 d-flex justify-content-center flex-column">
                <ul class="list-group">
                    <li class="list-group-item">Сите типови на авто дигалки</li>
                    <li class="list-group-item">Уреди за подесување на геометрија</li>
                    <li class="list-group-item">Опрема за промена и балансирање на пневматици за моторцикли, патнички и
                        теретни возила
                    </li>
                    <li class="list-group-item">Клима станици за сервисирање и дополнување на разладните системи во
                        возилата
                    </li>
                    <li class="list-group-item">Дијагностичики уреди за патнички возила</li>
                    <li class="list-group-item">Уреди за тестирање и подесување на светлата на возилата</li>
                    <li class="list-group-item">Уреди и опрема за дистрибуција на течности</li>

                </ul>

                <div style="display: flex; justify-content: right; margin-top:5px;">
                    <a href="{% url 'brands' %}"><button class="btn btn-sm btn-dark learn-more p-btn">
                        <span class="button-text d-flex align-items-center" style="font-weight:600; margin:0;">
                            <i class="bi bi bi-arrow-right"
                               style="color:white; font-size:18px; margin:0; margin-right:10px;"></i>
                            <span>Каталог</span>
                        </span>
                    </button><a>
                </div>
            </div>
        </div>
    </div>
